WsClient/Connected Services/WsPersonas/WSPersonas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59742/WSPersonas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Soap" />
  <xs:element name="GetPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Soap" minOccurs="0" name="GetPersonaResult" nillable="true" type="q1:Persona" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>